<%= render "application/menu" %>
<div class="flex flex-col gap-y-4">
  <h1 class="font-bold text-4xl">Electoral Wards <span class="px-2 rounded bg-slate-100"><%= @count %> Result(s)</span></h1>
  <div class="flex flex-col gap-y-4">
    <% @electoral_wards.each do |ward| %>
      <div class="p-2 rounded bg-slate-50">
        <h2 class="text-2xl"><%= link_to ward['name'], ward %></h2>
        <a href="/service_requests?ew=<%= ward['id'] %>">View Related Service Requests</a>
      </div>
    <% end %>
  </div>
</div>
