<%= render "application/menu" %>
<div class="flex flex-col gap-y-4">
  <h1 class="text-4xl">About</h1>
  <p class="text-lg">Welcome to Databox, a WEBD-3011 Rails Project. The project makes use of various datasets from the
    Winnipeg Open Data.</p>
  <div class="p-2 bg-slate-50 rounded flex flex-col gap-y-4">
    <h2 class="text-3xl font-medium">311 Service Requests</h2>
    <p>
      <a class="hover:underline text-blue italic font-medium" href="https://data.winnipeg.ca/Contact-Centre-311/311-Service-Request/4her-3th5/data_preview" target="_blank">311
        Service Request | Open Data | City of Winnipeg</a></p>
    <h3>Description</h3>
    <p>This dataset contains various service requests received by the 311 service in Winnipeg. This data will be used to
      display a searchable list of
      service requests for the city of Winnipeg. Since the data also contains coordinates associated with each service
      request, service requests may
      be displayed on a map.</p>
  </div>
  <div class="p-2 bg-slate-50 rounded flex flex-col gap-y-4">
    <h2 class="text-3xl font-medium">Electoral Ward</h2>
    <p>
      <a href="https://data.winnipeg.ca/Council-Services/Electoral-Ward/ede3-teb8" class="hover:underline text-blue italic font-medium">Electoral
        Ward | Open Data | City of Winnipeg</a></p>
    <p>This dataset contains all the electoral wards in Winnipeg including councilor, geometry and name. Using this
      dataset makes it possible to indicate boundaries for each electoral ward in the city.</p>
  </div>
</div>
